/*body {
  background-color: #87D37C;
}*/
body {
  align-items: center;
}

.About {
  /*background-color: black;*/
  text-align: center;
  background-color: #87D37C;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.main {
  background-image: url(http://i.giphy.com/8OtNPFGuyk7Wo.gif);
}

#blue {
  font-size: 50px;
  margin-top: 30px;
  font-family: 'Space Mono', monospace;
  color: dodgerblue;
  text-shadow:
        /*first layer at 1px*/
         -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000,
        /* second layer at 2px */
        -2px -2px 0px #000,
        -1px -2px 0px #000,
         0px -2px 0px #000,
         1px -2px 0px #000,
         2px -2px 0px #000,
         2px -1px 0px #000,
         2px  0px 0px #000,
         2px  1px 0px #000,
         2px  2px 0px #000,
         1px  2px 0px #000,
         0px  2px 0px #000,
        -1px  2px 0px #000,
        -2px  2px 0px #000,
        -2px  1px 0px #000,
        -2px  0px 0px #000,
        -2px -1px 0px #000;

}

#addImage {
  max-height: 40%;
  max-width: 40%;
  align-items: center;
  margin-bottom: 15px;
}

@-webkit-keyframes glowing {
  0% { background-color: #4B77BE; -webkit-box-shadow: 0 0 3px #4B77BE; }
  50% { background-color: #0094FF; -webkit-box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #4B77BE; -webkit-box-shadow: 0 0 3px #4B77BE; }
}

@-moz-keyframes glowing {
  0% { background-color: #4B77BE; -moz-box-shadow: 0 0 3px #4B77BE; }
  50% { background-color: #0094FF; -moz-box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #4B77BE; -moz-box-shadow: 0 0 3px #4B77BE; }
}

@-o-keyframes glowing {
  0% { background-color: #4B77BE; box-shadow: 0 0 3px #4B77BE; }
  50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #4B77BE; box-shadow: 0 0 3px #4B77BE; }
}

@keyframes glowing {
  0% { background-color: #4B77BE; box-shadow: 0 0 3px #4B77BE; }
  50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #4B77BE; box-shadow: 0 0 3px #4B77BE; }
}

@keyframes glowingPink {
  0% { background-color: #FACADE; box-shadow: 0 0 3px #FACADE; }
  50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #FACADE; box-shadow: 0 0 3px #FACADE; }
}

@keyframes glowingBlue {
  0% { background-color: #0094FF; box-shadow: 0 0 3px #0094FF; }
  50% { background-color: #FACADE; box-shadow: 0 0 10px #FACADE; }
  100% { background-color: #0094FF; box-shadow: 0 0 3px #0094FF; }
}


button {
  margin: 5px;
  border-radius: 0;
  font-family: 'Space Mono', monospace;
  background-color: #F5D76E;
  font-style: bold;

}

button#all {
  -webkit-animation: glowing 4000ms infinite;
  -moz-animation: glowing 4000ms infinite;
  -o-animation: glowing 4000ms infinite;
  animation: glowing 4000ms infinite;
}

button#top {

  -webkit-animation: glowing 4000ms infinite;
  -moz-animation: glowing 4000ms infinite;
  -o-animation: glowing 4000ms infinite;
  animation: glowing 4000ms infinite;
}

button#bottom {
  animation: glowingBlue 1500ms infinite;
}

button#reverse {
  animation: glowingPink 1500ms infinite;
}

h4 {
  font-family: 'Space Mono', monospace;
}

#send {
  font-family: 'Space Mono', monospace;
}
