.infoBody {
  background-color: dodgerblue;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.Info {
  background-color: dodgerblue;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

#aboutDiv {
  position: absolute;
/*  margin: 0 auto;
*/
  align-items: center;
}

button#back {
  background-color: none;
  margin-left: 0px;
}

.text {
  font-family: 'Space Mono', monospace;
  color: #FACADE;
  text-shadow: /*first layer at 1px*/
         -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000,
        /* second layer at 2px */
        -2px -2px 0px #000,
        -1px -2px 0px #000,
         0px -2px 0px #000,
         1px -2px 0px #000,
         2px -2px 0px #000,
         2px -1px 0px #000,
         2px  0px 0px #000,
         2px  1px 0px #000,
         2px  2px 0px #000,
         1px  2px 0px #000,
         0px  2px 0px #000,
        -1px  2px 0px #000,
        -2px  2px 0px #000,
        -2px  1px 0px #000,
        -2px  0px 0px #000,
        -2px -1px 0px #000;
}

h1.text {
/*  padding-top: 10%;
*/}

h2.text {

}

.friendship {
  position: absolute;
  left: 5%;
  pointer-events: none;
  margin-top: 10px;
  margin-left: 20%;
  text-align: center;
}

@keyframes glowing {
  0% { background-color: #000000; box-shadow: 0 0 3px #000000; color: white; }
  50% { background-color: white; box-shadow: 0 0 40px white; color: #FACADE; }
  100% { background-color: #000000; box-shadow: 0 0 3px #000000; color: white; }
}


#aidan {
  height: 40%;
  width: 40%;
  margin-right: 80%;
  margin-top: 10%;
  animation: glowing 6000ms infinite;
}

#bio {
  padding: 5px;
  width: 35%;
  height: 30%;
  padding: 10px;
  font-family: 'Space Mono', monospace;
  margin-left: 47%;
  margin-top: 10%;
  font-size: 17px

}


