body {
  background-color: #FCC9B9;
}

.App {
  text-align: center;
 /* background-color: #FACADE;*/
}

#intro {
  text-align: center;
  font-family: 'Space Mono', monospace;
  color: #19B5FE;
}

img#boobs {
  height: 40%;
  width: 40%;
}

#mainbutton {
  margin-top: 50px;
  color: #F5AB35;
  font-family: 'Space Mono', monospace;
}
